

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

.main-contents-1{
  padding: 180px 0 100px 0;
  background-image: url(66CD1DF5-4ACB-4736-826F-4FFB33F2A0C9.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}
.main-contents-1 p{
    font-size: 50px;
}
.news{
    background-color:white;
    height:300px;
    width:50%;
    display: inline-block;
    padding:40px;
    opacity: 0.9;
}
.news p,li{
    color:black;
}
.news li{
 text-align:left;
    margin-left: 10px;
}

a {
  text-decoration: none;
}
.main-contents-2{
    padding: 100px 0 100px 0;
    height: 1000px;
    background-color: black;
    color:white;
    text-align: center;
}
header {
  height: 65px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.81);
  position :fixed;
  top: 0;
  z-index: 10;
}

.header-logo {
  float: left;
}
.header-logo p{
  color:white;
  font-size:19px;
  padding:0 30px;
}

.header-right {
  float: right;
  margin-right: 25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

footer {
    padding: 50px 0 50px 0;
    background-color: #46484b;
}
footer p{
    text-align: center;
    color:white;
}
.btn {
    color: white;
    text-align:center;
    display:block;

    
}
.footer-logo {
    padding-top: 100px;
}
